.container {
  background-color: var(--gray-800); /* Mudando para combinar com o novo tema */
  padding: 2rem;
  border-radius: 1.5rem;
  border: 1px solid var(--gray-700);
  margin-bottom: 2rem;
  
  /* Flexbox para alinhar o conteúdo interno */
  display: flex;
  flex-direction: column; /* Título em cima, subtítulo embaixo */
  align-items: center;
  gap: 1rem;
}

.title {
  color: var(--primary);
  font-size: 2.8rem;
  
  /* Flexbox para o conteúdo DENTRO do H1 (Texto + Botão) */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem; /* Espaço de 16px entre o texto e o ícone */
}

/* Estilo para o botãozinho de ícone que o professor mencionou */
.title button {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.title button:hover {
  background: var(--primary);
  color: var(--text-over-primary);
}